@import "./fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 > span {
    display: none;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: -100%;
}

html, body {
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    font-family: 'Helvetica', sans-serif;
    overflow-x: hidden;
}

.font-vasek {
    font-family: 'Vasek', cursive;
    letter-spacing: 3px;
}

body {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.button {
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color: #484848;
    border-radius: 0.4rem;
    padding: 8px 23px 10px 23px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    transition: box-shadow 0.1s, background-color ease 0.3s;
}

.button:hover {
    background-color: #e7e7e7;
}

.button--signup {
    color: #fff;
    background-color: #171717;
}

.button--signup:hover {
    background-color: #8a8a8a;
}

.button-icon {
    gap: 5px;
    position: relative;
    left: -5px;
    width: 28px;
    height: 28px;
}

.button:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.--icon-only {
    padding: 4px 8px;
}

.icon {
    max-width: 38px;
    max-height: 38px;
}

.title-icon {
    max-width: 42px;
    max-height: 42px;
    margin-right: 10px;
}

.attention-icon {
    position: relative;
    top: 6px;
}

.--ig {
    position: relative;
    padding: 4px 6px;
}

.--ig:after {
    content: '.';
    position: absolute;
    font-size: 2.5rem;
    font-weight: bold;
    bottom: 22px;
    right: 6px;
}

.title {
    text-align: center;
    font-size: 2.1rem;
}

.--main-title {
    color: #8f0505;
    font-size: 1.6rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px 0;
    /*background: rgba(255, 255 ,255, .5);*/
    color: #000;

    z-index: 10;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.2), 0 0 2px rgba(29, 33, 38, 0.2);
    transition: padding ease 0.3s, box-shadow ease 0.3s, background ease 0.1s, left ease 0.3s;
    border-bottom: 1px solid rgba(29, 33, 38, .3);
}

.menu-logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}
.menu-logo img {
    width: 30px;
    animation: rotate 30s infinite linear;
}
@media(max-width: 900px){
    .menu-logo{
        position: absolute;
        bottom: 10%;
        right:50%;
        transform: translateX(50%);
        font-size: 1.2rem;
    }
    .menu-logo img {
        width: 30px;
    }
    .menu-elements {
        flex-direction: column;
    }
    .menu-icon-phone{
        margin-top: 45px;

    }
}


.menu-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:10px;
    flex-basis: 60%;
    /*flex-basis: 60%;*/
}
.menu__link {
    color: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 5px;
    transition: color 0.25s;
    text-decoration: none;
    padding: 0 0 3px 0;
    white-space: nowrap;
}
.menu .menu__link-active {
    color: #8a8a8a;
    /*border-bottom: 2px dotted #8a8a8a; !*  #b6d9fa   *!*/
}
.menu-icon-phone {
    position: relative;
    background-color: #171717;
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 3px 8px 4px 5px;
    transition: all .25s;
}
.menu-icon-phone:hover {
    background-color: #c0c0c0;
}

@media (min-width: 900px) {
    .menu {
        width: 100%;
        background: rgba(255, 255, 255, 1);
        /*background: rgba(53, 121, 170, .8);*/
        /*background: linear-gradient(337deg, rgba(53, 121, 170, .8) 11%, rgba(104, 162, 211, .8) 59%, rgba(156, 204, 253, .8) 100%);*/
    }

    .menu.AtTop {
        border: none;
        background: none;
        color: #000;
        box-shadow: none;
        padding-top: 25px;
    }
}


/*.menu.AtTop .menu__link-active{
    color: #000;
    border-bottom: 2px solid #000;
}*/


.content {
    position: relative;
    padding: 10px;
}

/*----------burger---------------------*/
.burger {
    display: none;
    position: fixed;
    z-index: 50;
    left: 15px;
    top: 12px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);

    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.burger span {
    height: 3px;
    width: 60%;
    transform: scale(1);
    border-radius: 2px;
}

.burger::before, .burger::after, .burger span {
    background-color: #fff;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 80%;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 11px
}

.burger::after {
    bottom: 11px
}

.burger.active span {
    transform: scale(0)
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 900px) {
    .burger {
        display: flex
    }

    .menu {
        left: -100%;
        width: 50%;
        min-width: 320px;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(5px);
        height: 100%;
    }

    .menu.opened {
        left: 0;
    }

    .menu-items {
        margin-top: 70px;
        flex-direction: column;
        gap: 20px;
    }

    .menu__link {
        font-size: 1.7rem !important;
    }

    .menu .menu__link-active {
        border-bottom: 2px dotted rgba(0, 0, 0, 0.6); /*  #b6d9fa   */
    }
}

@keyframes burgerAnimation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/*------------------welcome------------*/
.welcome {
    margin-top: 130px;
    padding: 0;
    background: #1273eb;
    border-top: 1px solid rgba(29, 33, 38, .3);
    border-radius: 60px 60px 0 0;
    position: relative;
}

.welcome::after {
    content: url('../img/atom-white.svg');
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 25%;
    left: 10px;
    animation: rotate 200s infinite linear;
    opacity: .1;
}

.welcome__main-info {
    background-color: rgba(255, 255, 255, .9);
    position: relative;
    left: 45px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .5);
}

@media (max-width: 900px) {
    .welcome {
        margin-top: 30px;
    }
}

.subtitle {
    position: absolute;
    color: #fff;
    padding: 20px;
    /*text-shadow: 1px 0 1px #000,*/
    /*0 1px 1px rgba(0, 0, 0, 0.6),*/
    /*-1px 0 1px rgba(0, 0, 0, 0.6),*/
    /*0 -1px 1px rgba(0, 0, 0, 0.6);*/
    z-index: 1;
    text-align: center;
    bottom: -100%;
    right: -10%;
}

@keyframes rotate {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*-------------------------------------*/
@media (max-width: 900px) {
    .welcome__main-info {
        left: 0;
        top: -23px;
        z-index: 2;
    }

    .subtitle {
        bottom: 150px;
        right: 5%;
    }
}

.welcome__content {
    /*margin-top: 10px;*/
    display: flex;
    justify-content: center;

    gap: 30px;
    padding-bottom: 0;
    /* background: rgba(44, 113, 246, 0.9);*/
}

.welcome__text {
    /* flex-basis: 60%;*/
    /*transform: translateY(-20%);*/
    margin-top: 20px;
    font-size: 1.2rem;

    /*box-shadow: 2px 4px 10px 1px rgba(34, 60, 80, 0.4);*/

}

.welcome__text-content {
    margin-left: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*!*align-items: center;*!*/
    /*position: relative;*/
}

.teacher-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: #364450;
    /* text-shadow: 1px 0 1px #fff,
     0 1px 1px rgba(255, 255, 255, 0.8),
     -1px 0 1px rgba(255, 255, 255, 0.8),
     0 -1px 1px rgba(255, 255, 255, 0.8);*/
}

.welcome__photo {
    /* flex-basis: 40%;*/
    position: relative;
    height: 450px;
    width: 300px;
    margin-right: 30px;
}

.welcome__photo:after {
    content: '';
    position: absolute;
    display: block;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 0;
    top: 10%;
    left: -30px;
}

.welcome__photo-img {
    position: absolute;
    height: 500px;
    top: -50px;
    z-index: 1;
}
.welcome__photo-mob{display: none;}
@media (max-width: 900px) {
    .welcome {
        margin-top: 190px;
        border-radius: 200px 10px 0 0;
    }
    .welcome__photo {
        display: none;
    }
    .welcome__photo-mob{
        display: block;
        height: 50px;
        position: relative;
        top:-197px;
        right: -50px
    }
    .welcome__photo-img-mob{
        height: 280px;
    }
}

/*.welcome__photo-wrapper {
    position: relative;
    height: 500px;
    width: 300px;

}
.welcome__photo-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}*/

/*.welcome__photo::after {*/
/*    content: url('../img/atom-white.svg');*/
/*    position: absolute;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    top: 15%;*/
/*    left: 68%;*/
/*    animation: rotate 100s infinite linear;*/
/*    opacity: .7;*/
/*}*/
/*.welcome__photo::before {*/
/*    content: url('../img/chemistry-white.svg');*/
/*    position: absolute;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    bottom: 15%;*/
/*    right: 80%;*/
/*    animation: rotate 60s infinite linear;*/
/*    opacity: .7;*/
/*}*/

@media (max-width: 900px) {
    .welcome {
        padding-top: 25px;
    }

    .welcome__content {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.welcome__text-info-wrapper {
    position: relative;
    margin-top: 30px;
    /*background-color: rgba(255, 255, 255, 1);*/
    /*box-shadow: 2px 4px 10px 1px rgba(34, 60, 80, 0.8);*/
    border-radius: 20%;
    padding: 20px 40px 10px 40px;
    /*border: 1px solid rgba(50, 161, 206, .7);*/
}

@media (max-width: 900px) {
    .welcome__text-info-wrapper {
        margin-top: 0;
        top: -35px;
    }
}

.welcome__text-info {
    position: relative;
    z-index: 1;
    padding: 20px 0;


}

.welcome__features {
    margin-top: 25px;
    font-size: 1.2rem;
    color: #fff;
    /*text-shadow: 1px 0 1px rgba(0, 0, 0, 0.6),*/
    /*0 1px 1px rgba(0, 0, 0, 0.6),*/
    /*-1px 0 1px rgba(0, 0, 0, 0.6),*/
    /*0 -1px 1px rgba(0, 0, 0, 0.6);*/
}

.welcome__features li {
    margin-top: 15px;
}

.welcome__features-title {
    /*text-align: center;*/
    font-weight: bold;
    color: #ffffff;
    font-size: 2.2rem;
    text-transform: uppercase;
    /*text-shadow: 1px 0 1px rgba(0, 0, 0, 0.6),*/
    /*0 1px 1px rgba(0, 0, 0, 0.6),*/
    /*-1px 0 1px rgba(0, 0, 0, 0.6),*/
    /*0 -1px 1px rgba(0, 0, 0, 0.6);*/
}
@media(max-width: 900px){
    .welcome__features-title {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 5px;
    }
}
.welcome__features-suptitle {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8rem;
    font-style: italic;
}
@media(max-width: 900px){
    .welcome__features-suptitle {
        font-size: 1.5rem;
    }
}
.online-course {
    font-size: 2rem;
}
@media(max-width: 900px){
    .online-course {
        font-size: 1.5rem;
        text-align: right;
        margin-top: 10px;
    }
}
.mt-10 {
    margin-top: 10px;
}

.welcome__text-info-buttons {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
@media (max-width: 900px){
    .welcome__text-info-buttons {
        flex-direction: column-reverse;
        margin-bottom: 50px;
        align-items: center;
    }
    .button{
        max-width: 250px;
    }
}

.social-icons {
    margin-top: 35px;
    display: flex;
    gap: 10px;
}

/*_____________________________________*/
/*------------------about--------------*/
.about{
    position: relative;

}
.about__text{
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
}
.about__text-row{
    margin-top: 10px;
}
.bold-italic{
    font-weight: bold;
    font-style: italic;
    font-size: 1.3rem;
}
.about__content {
    margin-top: 30px;
}

@media (max-width: 900px) {


    .upBtn::after {
        width: 25px;
        height: 25px;
        top: 2px;
        left: 2px;
    }
}

/*_____________________________________*/
/*---------------features--------------*/
.features {
    max-width: 1100px;
    padding: 0 10px;
    margin: 40px auto auto auto;
}

.features-icon {
    width: 90px;
    height: 90px;
}

.features__items {
    margin-top: 55px;
    display: flex;
    gap: 35px;
    justify-content: center;
    flex-wrap: wrap;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
    font-size: 1.1rem;
}

.features__text {
    margin-top: 10px;
}

/*_____________course__________________*/
.course {
    margin-top: 40px;
}

.course-list {
    margin: 30px auto;
    list-style: none;
    text-align: center;
    font-size: 1.1rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.course-span{
    font-family: 'Vasek', cursive;
    font-weight: bold;
    letter-spacing: 3px;
    color: #1273eb;
}


/*---------------price--------------*/
.price {
    margin: 40px auto auto auto;
    background-image: url(../img/main-price-bg.png);
    background-position: 50% 50%;
    background-repeat: repeat;
    color: #fff;
    text-align: center;
    padding: 30px 0 50px 0;
    font-size: 1.5rem;
    /*text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5),*/
    /*0 1px 1px rgba(0, 0, 0, 0.5),*/
    /*-1px 0 1px rgba(0, 0, 0, 0.5),*/
    /*0 -1px 1px rgba(0, 0, 0, 0.5);*/
}

.price--title {
    position: relative;

}

.price__subtitle {
    margin: 25px auto auto auto;
    max-width: 800px;
}

.price--title::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 80px;
    border-radius: 3px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 900px) {
    .price {
        max-width: 2800px;
        padding-top: 120px;
        padding-bottom: 108px;
        background-position: 50% 0, 50% 100.05%, 50% 50%;
        background-repeat: no-repeat, no-repeat, repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1920 298'%3E%3Cpath fill='%23fff' d='M226.76 234.18c90.74-28.42 193.3-60.53 295.24-85.93 58.5-14.57 113.28-28.89 165.5-42.54C913.66 46.58 1091.83.01 1316.7 0H0v298h1.91c54.72-10.54 133.84-35.32 224.85-63.82zM1920 111.23V0h-603.2c64.48 0 132.8 3.83 207.2 12.3 98.19 11.16 206.25 44.46 287.45 69.48 48.22 14.86 86.96 26.8 108.55 29.45z'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1920 196'%3E%3Cpath fill='%23fff' d='M0 83.13V196h1920V.26a15209.2 15209.2 0 00-85.04 24.94c-223.16 65.9-505.74 149.34-826.83 167.53-282.88 16.03-540.6-30.1-761.97-69.73C158.13 107.24 75.84 92.51 0 83.13z'/%3E%3C/svg%3E"),
        url("../img/main-price-bg.png");
    }
}

.price__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
    margin-top: 40px;
}

.price__item {
    padding: 20px;
    border-radius: 1rem;
}

.price__item-group {
    background-color: rgba(18, 115, 235, 1);

}

.price__item-personal {
    background-color: rgba(0, 0, 0, 1);
}

.price__item-title, .price__item-price {
    padding: 20px 0;
}

.price__item-price {
    border-top: 1px solid lightgray;
}

/*-----------lessons structure--------------*/
.lesson-structure {
    margin-top: 30px;

}

/*____________attention_____________________*/
.attention {
    margin-top: 40px;
}

.attention-list {
    margin-top: 30px;
    text-align: center;
    list-style: none;
}

.attention-list-item::before {
    content: '-';
    color: red;
    font-size: 1.5rem;
    margin-right: 5px;

    /*margin-right: 10px;*/
}
.attention-span{
    color: rgba(255, 69, 0, 0.76);
}
/*.attention-list-item::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 3px;
    border-radius: 2px;
    background-color: red;
    left:0;
}*/
.attention-footer {
    text-align: center;
    margin-top: 20px;
}

/*------------------------------------------*/
.upBtn {
    display: block;
    position: fixed;
    width: 55px;
    height: 55px;
    /*background-color: rgba(0, 0, 0, .8);*/
    background: rgba(0, 0, 0, .7);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 2px 4px 10px 1px rgba(34, 60, 80, 0.4);
    right: 20px;
    bottom: 20px;
    border: none;
    outline: none;
    transition: ease-in .2s;
    cursor: pointer;
    z-index: 1;
}

.upBtn:hover {
    background-color: rgba(0, 0, 0, .6);
}

.upBtn::after {
    content: url('../img/arrow.svg');
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    top: 2px;
    left: 2px;
    /*width:30px;
    height:30px;
    top:5px;
    right:23px;*/
}

@media (max-width: 900px) {
    .upBtn {
        width: 40px;
        height: 40px;
    }

    .upBtn::after {
        width: 40px;
        height: 40px;
    }
    .price{
        border-radius: 40px;
    }

}

.disabled {
    opacity: 0;
    pointer-events: none;
}

.faq {
    margin: 30px auto auto auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.faq--title {
    margin-top: 40px;
}

.faq .item {
    margin: 15px 0;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq .item .ask {
    font-size: 1rem;
    padding: 5px 25px 5px 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: relative;
}

.faq .item .ask::after, .faq .item .ask::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 3px;
    top: 50%;
    border-radius: 1px;
    transform: translateY(-50%);
    background-color: rgba(0, 102, 204, 1);
    transition: all ease 0.2s;
}

.faq .item .ask::after {
    right: 12px;
    transform: rotate(45deg);
}

.faq .item .ask::before {
    right: 5px;
    transform: rotate(-45deg);
}

.faq .item .answer {
    font-size: 1.1rem;
    overflow: hidden;
    padding: 10px 15px;
    display: none;
}

.ask.opened {
    color: rgba(0, 102, 204, 0.9);
    background: rgba(210, 210, 210, 0.2);
}

.faq .item .ask.opened::after {
    right: 12px;
    transform: rotate(-45deg);
    background: #4292ee;
}

.faq .item .ask.opened::before {
    right: 5px;
    transform: rotate(45deg);
    background: #4292ee;
}

.faq .item .answer.open {
    display: block;
}
/*-------------feedbacks--------------*/
.feedbacks__text{
    text-align: justify;
    max-width: 750px;
    margin: auto;
}
/*----slider----*/
.itc-slider__item {

    padding: 0 10px;
}

.itc-slider__item-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}
.feedbacks{
    max-width: 1100px;
}
.feedback-user {
    align-self: center;
    color: #1273eb;
}

.feedback__text {
    color: #000;
    font-size: 1rem;
    /*background-color: rgba(0, 0, 0, 0.05);*/
    border-radius: 10px;
    padding: 10px 10px 5px 15px;
    text-align: center;
}

.feedbacks--title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.feedbacks__items {
    padding: 0 25px;
    margin-top: 40px;
}

.formSent {
    font-size: 1.1rem;
    color: peru;
}

/*curved sections margins*/
.curved-margin > svg {
    width: 100%;
    height: 100%;
}

.curved-margin > svg path {
    fill: rgb(255, 255, 255);
}

.curved-margin {
    --divider-height: 4rem;
    position: relative;
    top: calc(var(--divider-height) / 2 * -1);
    height: var(--divider-height);
    width: 100%;
    /* alternatively, could get rid of the rect, and move the svg curved-margin further down */
    float: left;
    z-index: 1;
    /*   outline: 1px solid red; */
}

.welcome {
    padding-bottom: 37px;
}

.curved-margin.--curved-margin-welcome {
    transform: scale(-1, -1);
    /*transform: scale(-1, 1);*/
}

/*-------contact------------*/
.contact {
    padding: 0 10px;
}

.contact__content {
    position: relative;
    margin: 30px auto 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1273eb;
    max-width: 800px;
    border-radius: 60px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3), 0 3px 1px -2px rgba(0, 0, 0, .25), 0 1px 5px 0 rgba(0, 0, 0, .3);
}
.contact__content::before{
    content: url('../img/icons/pin.svg');
    position: absolute;
    display: block;
    max-width: 150px;
    max-height: 150px;
    top:-40px;
    right:0;
}
@media(max-width: 900px){
    /*.contact__content::before{*/
    /*    top:-40px;*/
    /*    right:0;*/
    /*}*/
}
.social-icons {
    display: flex;
    gap: 45px;
}

.button--phone {
    margin-top: 30px;
    padding: 7px 25px 8px 22px;
    font-size: 1.2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

input {
    font-size: 1rem;
    padding: 7px 5px 7px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

label {
    color: #fff;
    margin-bottom: 10px;
}

.phone-label {
    margin-top: 20px;
}

#sendBtn {
    padding: 8px 23px;
    margin: 20px auto auto auto;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 15px;
    background: #171717;
    color: #fff;
    transition: all 0.2s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

#sendBtn:hover {
    background: #9a9a9a;
}

/*---------------------------*/
.footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: rgb(114, 114, 114);
    background-color: rgba(236, 236, 236, 0.5);
    border-top: 1px solid #dcdcdc;
    padding: 3px;
}


.video__wrapper {
    max-width: 750px;
    margin: 40px auto 80px auto;

}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.video__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
}

.video__button-icon {
    fill: #ffffff;
}

.video__button:focus {
    outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
}

/* Enabled */

.video--enabled {
    cursor: pointer;
}

.video--enabled .video__button {
    display: block;
}
.about, .features, .course, .lesson-structure, .price,
.attention, .questions, .feedbacks, .contact{
    margin-top: 120px;
}
/*------------------*/
@media (max-width: 400px) {
    .welcome {
        margin-top: 125px;
        border-radius: 10px 10px 0 0;
    }
    .welcome__photo {
        display: none;
    }
    .welcome__photo-mob{
        height: 2px;
        top:-148px;
    }
    .welcome__photo-img-mob{
        height: 200px;
    }
    .welcome::after {
        width: 100px;
        height: 100px;
        bottom: 1%;
        right: 0;

    }
    .title{
        font-size: 1.3rem;
    }
    .contact__content{
        border-radius: 40px;
    }
    .about{
        position: relative;
        top: -20px;
    }
    .about, .features, .course, .lesson-structure, .price,
    .attention, .questions, .feedbacks, .contact{
        margin-top: 90px;
    }

}
iframe{
    border-radius: 20px;
}


.text-icon{
    max-width: 35px;
    position: relative;
    top: 5px;
    margin: 0 10px;
    /*vertical-align: middle;*/
}
.text-icon-smile{
    max-width: 24px;
    top: 3px
}
@keyframes pulse{
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
.menu-icon-phone{
    animation: radial-pulse 1s infinite;
}

/*----------------------------------*/
/*    pulse effect   */

.pulse:before,
.pulse:after{
    content: "";
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(23, 23, 23, 0.4);
    border-radius: 5px;
    z-index: -1;
    opacity: 0.7;
}
.pulse:before{
    animation: pulse 2s ease-out infinite;
}
.pulse:after{
    animation: pulse 2s 1.7s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}